/* .custom-row{
    flex: 2 1;
    display: flex;
    font-weight: bold;

}

.form-row label {
    left: auto !important;
    text-align: left !important;
    font-weight: bold !important;
    flex: 1 !important;
    max-width: 120px !important;
  }
  
  .form-row input {
    max-width: 150px !important;
    width: 100% !important;
  } */

  .form-row1 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    gap: 0.75rem;
    align-items: center;
    margin-bottom: 35px;
    margin-top: 35px;
  }

  .form-label1 {
      left: auto;
      text-align: left;
      flex: 1;
      font-weight: bold;
  }

  .form-group1{
    flex: 2 1;
    display: flex;
    font-weight: bold;
    gap: 0.75rem; 
    align-items: center;
  }